body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

.container {
  grid-template-columns: repeat(1, 200px);
  justify-content: center;
  gap: 48px 46px;
  padding: 50px 40px;
  display: grid;
}

@media (width >= 488px) {
  .container {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (width >= 768px) {
  .container {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (width >= 1024px) {
  .container {
    grid-template-columns: repeat(4, 200px);
  }
}

.header {
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  position: relative;
}

.header__logo {
  align-self: center;
  width: 40px;
  height: 40px;
  display: flex;
}

.header__nav {
  text-align: center;
}

.header__nav-list {
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.header__nav-link {
  color: #060b35;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 60px;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  position: relative;
}

.header__nav-link:hover {
  color: #00acdc;
}

.header__nav-item:not(:first-child) {
  margin-left: 20px;
}

.header .is-active {
  color: #00acdc;
}

.header .is-active:after {
  content: "";
  background-color: #00acdc;
  width: 100%;
  height: 4px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.card {
  box-sizing: border-box;
  padding-inline: 16px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 200px;
  padding-top: 32px;
  padding-bottom: 16px;
  transition: all .3s;
  display: flex;
}

.card__image {
  width: 160px;
  height: 134px;
}

.card__product-name {
  padding-top: 40px;
  padding-bottom: 4px;
  display: flex;
}

.card__product-name-text {
  color: #060b35;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  transition: all .3s;
}

.card__product-code {
  color: #616070;
  width: 200px;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  display: flex;
}

.card__reviews {
  color: #060b35;
  align-self: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  display: flex;
}

.card__price {
  justify-content: space-between;
  width: 200px;
  padding-top: 24px;
  display: flex;
}

.card__price-label {
  color: #616070;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.card__price-value {
  text-align: right;
  color: #060b35;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.card__button {
  padding-top: 16px;
}

.button {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #00acdc;
  border: 1px solid #0000;
  border-radius: 5px;
  align-content: center;
  width: 166px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  color: #00acdc;
  background-color: #fff;
  border: 1px solid #00acdc;
  transition: all .3s;
}

.card__stars {
  justify-content: space-between;
  width: 200px;
  padding-top: 16px;
  display: flex;
}

.card__stars-list {
  display: flex;
}

.card__star {
  background-image: url("star.fa806e3c.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: .5px;
  width: 16px;
  height: 16px;
}

.card__star:not(:last-child) {
  padding-right: 4px;
}

.card__star--active:not(:last-child) {
  background-image: url("star-active.2be54011.svg");
}

.card:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.card:hover .card__product-name-text {
  color: #34568b;
}
/*# sourceMappingURL=index.e378193d.css.map */
